#ECE 225 Project Model Prediction

In [1]:
import numpy as np 
import pandas as pd

df = pd.read_csv('artist_data_combined.csv')

df.drop(['Unnamed: 0'], axis = 1, inplace=True)

In [3]:
print(df.shape)

#Data Cleaning 
Null_values = df.isnull().sum()
df.dropna(inplace = True)
df.drop_duplicates(inplace = True)
print(df.shape) #Looking at the change in shape, looks like there were some missing values and duplicates

(5318, 19)
(5318, 19)

In [4]:
def get_first_name(x):
    if type(x) is float:
        return ''
    return x.strip('][').split(', ')[0].replace("'",'')



df['First Genre'] = df['Main Genres'].apply(get_first_name)

In [6]:
df['First Genre']

1              Rock
2       Hip Hop/Rap
3       Hip Hop/Rap
4       Hip Hop/Rap
5       Hip Hop/Rap
           ...
8560          Other
8562           Jazz
8564            Pop
8566           Jazz
8567            Pop
Name: First Genre, Length: 5318, dtype: object

In [7]:
genre_list = list(set(df['First Genre'].values.tolist()))

values = list(range(len(genre_list)))
key = genre_list
dictionary = dict(zip(key,values))
dictionary

{'Christian': 16,
 'Christmas': 7,
 'Classical': 10,
 'Country': 0,
 'Disco': 8,
 'Disney': 12,
 'Electronic': 1,
 'Hip Hop/Rap': 13,
 'Indie': 9,
 'Jazz': 3,
 'Latin': 14,
 'Metal': 15,
 'Other': 2,
 'Pop': 11,
 'Punk': 5,
 'R&B': 6,
 'Rock': 4}

In [8]:
y = df['First Genre'].apply(lambda x:dictionary[x])
y

1        4
2       13
3       13
4       13
5       13
        ..
8560     2
8562     3
8564    11
8566     3
8567    11
Name: First Genre, Length: 5318, dtype: int64

In [9]:
df

      mode  count  ...                                 Main Genres  First Genre
1        1    122  ...                                    ['Rock']         Rock
2        1     15  ...              ['Hip Hop/Rap', 'Hip Hop/Rap']  Hip Hop/Rap
3        1      2  ...                             ['Hip Hop/Rap']  Hip Hop/Rap
4        1      2  ...              ['Hip Hop/Rap', 'Hip Hop/Rap']  Hip Hop/Rap
5        1    125  ...              ['Hip Hop/Rap', 'Hip Hop/Rap']  Hip Hop/Rap
...    ...    ...  ...                                         ...          ...
8560     1      5  ...                                   ['Other']        Other
8562     1      9  ...                                    ['Jazz']         Jazz
8564     1     75  ...                              ['Pop', 'R&B']          Pop
8566     1     34  ...                                    ['Jazz']         Jazz
8567     1      1  ...  ['Pop', 'Indie', 'Christian', 'Christian']          Pop

[5318 rows x 20 columns]

In [10]:
df.drop(['Name', 'Genres', 'artist_id', 'Main Genres', 'First Genre'], axis = 1, inplace=True)

#Train / Test Split

Before we start with our analysis, we have to split the data into Test/Train splits. It can be done in two ways. Either we can randomly sample our data like we have been doing in class or we can use stratified sampling to make sure that we get an even representation from all classes. 
It would be interesting to see how much of a different these two different sampling techniques would make.

In [19]:
from collections import Counter
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df, y, train_size=0.80, stratify=y)
print('Frequency of each class with just random sampling in Y Train is ', Counter(y_train))
print('Frequency of each class with just random sampling in Y Train is ', Counter(y_test))

Frequency of each class with just random sampling in Y Train is  Counter({11: 1293, 2: 1026, 4: 589, 13: 336, 3: 246, 1: 123, 10: 114, 14: 104, 6: 76, 0: 74, 15: 62, 5: 50, 8: 48, 9: 42, 16: 38, 12: 24, 7: 9})
Frequency of each class with just random sampling in Y Train is  Counter({11: 324, 2: 257, 4: 147, 13: 84, 3: 61, 1: 31, 10: 28, 14: 26, 6: 19, 0: 18, 15: 15, 5: 13, 8: 12, 9: 11, 16: 10, 12: 6, 7: 2})

In [13]:
X_train

      mode  count  acousticness  ...  popularity   key  Monthly Listeners
3123     1     56      0.857464  ...   24.428571   0.0           448911.0
6462     1      2      0.113000  ...   34.000000   7.0            10278.0
4365     0      2      0.004540  ...   33.000000   9.0            15147.0
8455     1     40      0.124250  ...   40.800000   4.0           719161.0
5744     1     18      0.159020  ...   48.444444   7.0          2109889.0
...    ...    ...           ...  ...         ...   ...                ...
189      1      2      0.035100  ...   62.000000   3.0          1306422.0
6056     1     21      0.355819  ...   40.714286  10.0           129736.0
2682     1      4      0.145500  ...   31.500000   7.0           308642.0
6443     1     14      0.314571  ...   47.285714   0.0           739696.0
47       1      6      0.085223  ...   58.666667   4.0          1063203.0

[4254 rows x 15 columns]

#Model Analysis

In [14]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import learning_curve
from sklearn.model_selection import validation_curve
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns; sns.set_style('white')  
import warnings

warnings.filterwarnings('ignore')

# Initializing Classifiers
clf1 = LogisticRegression(multi_class='multinomial',
                          solver='newton-cg',
                          random_state=23225)
clf2 = KNeighborsClassifier(algorithm='ball_tree',
                            leaf_size=50)
clf3 = RandomForestClassifier()



# Building the pipelines
pipe1 = Pipeline([('std', StandardScaler()),
                  ('classifier', clf1)])

pipe2 = Pipeline([('std', StandardScaler()),
                  ('classifier', clf2)])


pipe3 = Pipeline([('classifier', clf3)]) 


#Choosing k between 1 and 1000, 26 values
k_flt = np.logspace(0.1, 3, num = 26)
k_list = []
for num in k_flt:
  k_list.append(int(num))

# Setting up the parameter grids
param_grid1 = [{'classifier__penalty': ['none','l2'],
                'classifier__C': np.power(10., np.arange(-4, 4))}] #Varying C

param_grid2 = [{'classifier__n_neighbors': k_list, #Varying K 
                'classifier__p': [1, 2]}]

param_grid3 = [{'classifier__n_estimators': [10, 100, 1000],
                 'classifier__max_features': [1, 2,4,6,8,12,16,20]}]



# Setting up multiple GridSearchCV objects, 1 for each algorithm
gridcvs = {}

for pgrid, est, name in zip((param_grid1, param_grid2, param_grid3),
                            (pipe1, pipe2, pipe3),
                            ('Logistic', 'KNN', 'RF')):
  
    gcv = GridSearchCV(estimator=est,
                       param_grid=pgrid,
                       scoring='accuracy',
                       n_jobs=1,
                       cv=2, # just 2-fold inner loop, i.e. train/test
                       verbose=0,
                       refit=True)
    gridcvs[name] = gcv

In [15]:
%%time 

cv_scores = {name: [] for name, gs_est in gridcvs.items()}

skfold = StratifiedKFold( n_splits=3, shuffle=True, random_state=1)

# The outer loop for algorithm selection
c = 1
for outer_train_idx, outer_valid_idx in skfold.split(X_train,y_train):
    for name, gs_est in sorted(gridcvs.items()):
        print('outer fold %d/5 | tuning %-8s' % (c, name), end='')

        # The inner loop for hyperparameter tuning
        gs_est.fit(X_train.iloc[outer_train_idx], y_train.iloc[outer_train_idx])
        y_pred = gs_est.predict(X_train.iloc[outer_valid_idx])
        acc = accuracy_score(y_true=y_train.iloc[outer_valid_idx], y_pred=y_pred)
        print(' | inner ACC %.2f%% | outer ACC %.2f%%' %
              (gs_est.best_score_ * 100, acc * 100))
        cv_scores[name].append(acc)

    c += 1

outer fold 1/5 | tuning KNN      | inner ACC 45.91% | outer ACC 48.94%
outer fold 1/5 | tuning Logistic | inner ACC 47.28% | outer ACC 46.76%
outer fold 1/5 | tuning RF       | inner ACC 50.14% | outer ACC 52.05%
outer fold 2/5 | tuning KNN      | inner ACC 46.72% | outer ACC 48.10%
outer fold 2/5 | tuning Logistic | inner ACC 48.13% | outer ACC 47.25%
outer fold 2/5 | tuning RF       | inner ACC 51.20% | outer ACC 51.55%
outer fold 3/5 | tuning KNN      | inner ACC 46.12% | outer ACC 47.18%
outer fold 3/5 | tuning Logistic | inner ACC 45.98% | outer ACC 47.95%
outer fold 3/5 | tuning RF       | inner ACC 50.18% | outer ACC 51.62%
CPU times: user 27min 53s, sys: 30min 50s, total: 58min 43s
Wall time: 19min 43s

In [16]:
# Looking at the results
for name in cv_scores:
    print('%-8s | outer CV acc. %.2f%% +\- %.3f' % (
          name, 100 * np.mean(cv_scores[name]), 100 * np.std(cv_scores[name])))
print()
for name in cv_scores:
    print('{} best parameters'.format(name), gridcvs[name].best_params_)

Logistic | outer CV acc. 47.32% +\- 0.492
KNN      | outer CV acc. 48.07% +\- 0.720
RF       | outer CV acc. 51.74% +\- 0.218

Logistic best parameters {'classifier__C': 10.0, 'classifier__penalty': 'l2'}
KNN best parameters {'classifier__n_neighbors': 18, 'classifier__p': 1}
RF best parameters {'classifier__max_features': 4, 'classifier__n_estimators': 100}

In [ ]:
# Fitting a model to the whole training set
# using the "best" algorithm
best_algorithim = gridcvs['KNN']

best_algo.fit(X_train, y_train)
train_acc = accuracy_score(y_true=y_train, y_pred=best_algorithim.predict(X_train))
test_acc = accuracy_score(y_true=y_test, y_pred=best_algorithim.predict(X_test))

print('Accuracy %.2f%% (average over CV test folds)' %
      (100 * best_algorithim.best_score_))
print('Best Parameters: %s' % gridcvs['KNN'].best_params_)
print('Training Accuracy: %.2f%%' % (100 * train_acc))
print('Test Accuracy: %.2f%%' % (100 * test_acc))

Accuracy 48.39% (average over CV test folds)
Best Parameters: {'classifier__n_neighbors': 23, 'classifier__p': 1}
Training Accuracy: 53.71%
Test Accuracy: 49.82%